{{page-title "CreateRecipe"}}
<h1>Create a new recipe</h1>

<form>
  <div class="form-group">
    <label>Title</label>
    <input {{on "input" this.updateTitle}} value="{{this.title}}" type="text" />
  </div>

  <div class="form-group">
    <label>Description</label>
    <input {{on "input" this.updateDescription}} value="{{this.description}}" type="text" />
  </div>

  <div class="form-group">
    <label>Ingredients</label>
    <input {{on "input" this.updateIngredients}} value="{{this.ingredients}}" type="text" />
  </div>

  <div class="form-group">
    <label>Instructions</label>
    <textarea {{on "input" this.updateInstructions}} value="{{this.instructions}}"></textarea>
  </div>

  <div class="text-center">
    <button type="submit" {{on "click" this.createRecipe}}>Create Recipe</button>
  </div>
</form>